.none{
    display: none;
}

.text-black{
    color: black;
}

.text-center{
    text-align: center;
}

.flex-row-items-center{
    display: flex;
    align-items: center;
}

.flex-col-items-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

/****************************/

.description-container{
    position:relative;
    height: 100vh;
    width: 80%;
    background-color: rgb(242,231,231);
    padding: 0 10%;
}


/****************************/
.img{
    position: absolute;
    top: 5%;
    height: 25%;
    width: auto;
    filter: drop-shadow(2px 2px 4px rgba(50, 50, 50, 0.4));
}

.description-title{
    font-size: 2.5rem;
    font-family: Montserrat-ExtraLight, sans-serif;
    letter-spacing: .3rem;
}

.main-text{
    color: rgb(100,100,100);
    font-family: Montserrat-Regular, sans-serif;
    padding-top: 10px;
}

a{
    font-family: Montserrat-Regular, sans-serif;
    font-size: 0.9rem;
    color: rgb(100,100,100);
    text-decoration: none;
    cursor: pointer;
}

#services-link{
    position: absolute;
    bottom: 5%;
}

#portofolio-link{
    position: absolute;
    bottom: 20%;
    right: 5%;
}