#values-container {
    height: 100vh;
    padding-inline: 10%;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.value {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 2rem;
    font-family: GT-Haptik-Medium ,sans-serif;
    line-height: 1.25;
    color: #444;
    cursor: pointer;
}

.value span {
    opacity: 0;
    margin-left: 1rem;
    pointer-events: none;
}